body {
    margin: none;
    display: flex;
    flex-direction: column;
    width: auto;
}

.info { 
    background-color: aliceblue;
    color: rgb(42, 109, 234);
    margin: none;
    min-height: 75vh;
    width: 100vw;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    
}

span::before {
    content: "Kyle Roger Jensen";
    animation-name: blurName;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
}

@keyframes blurName {
    0% {filter: blur(0px)}
    10% {filter: blur(9px)}
    20% {content: "Kyle"}
    30% {filter: blur(0px)}
    40% {filter: blur(9px)}
    50% {content: "Kyle Roger"}
    60% {filter: blur(0px)}
    70% {filter: blur(9px)}     
    80% {content: "Kyle Roger Jensen"}
    90% {filter: blur(0px)}
  }

h2 {
    text-align: center;
    margin: none;
}

h3 {
    background-color: rgb(207, 85, 41, 50%);
    box-shadow: 3px 3px 2px orangered;
    color: rgb(21, 96, 234);
    
}

h2 {
    padding: 3vh 0 6vh 0;
}

img {
    border: 4px solid darkorchid;
    border-radius: 25%;
}

footer, header {
    height: 12vh;
    margin-top: auto;
    color: darkorchid;
    background-color: blanchedalmond;
    width: 100vw;
}

footer {
    text-align: end;
}