body{
    margin: none;
    display: flex;
    flex-direction: column;
}
.info{
    background-color: aliceblue;
    color: rgb(42, 109, 234);
    margin: none;
    min-height: 100vh;
}

h2, h3 {
    text-align: center;
    margin: none;
}

img{
    padding-left: 25vw;
}

footer, header{
    height: 15vh;
    margin-top: auto;
}